language: php
php:
  - 5.3
before_script: 
  - git clone git://github.com/eliza411/eventcalendar.git events
  - cd events/bdd
  - curl -s http://getcomposer.org/composer.phar
  - php composer.phar install
script:
  bin/behat
