language: php
php:
  - 5.3
mysql:
  database: mydb
  username: mydb
  encoding: utf8

before_script: 
  - cd bdd
  - pear channel-discover pear.drush.org
  - pear install drush/drush
  - phpenv rehash
  - cd ..
  - drush make event_calendar.make drupal

script: bin/behat
