language: php
php:
  - 5.3

mysql:
  database: mydb
  username: mydb
  encoding: utf8

before_script:
  - pwd
  - curl http://ftp.drupal.org/files/projects/drush-7.x-5.4.tar.gz | tar xzf -  
  - drush/drush make event_calendar.make web 
  - chmod -R a+rwX web
  - sudo apt-get -y install libapache2-mod-php5 php5-curl php5-gd php5-mysql libgd2-xpm
  - sudo a2enmod rewrite php5
  - sed -e "s,PATH,`pwd`/web,g" default | sudo tee /etc/apache2/sites-available/default
  - ifconfig
  - sudo service apache2 restart
  - sudo service apache2 status
  - cd bdd

script: bin/behat
