language: php
php:
  - 5.3

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - wget http://selenium.googlecode.com/files/selenium-server-standalone-2.24.1.jar
  - java -jar selenium-server-standalone-2.24.1.jar & > dev/null 
  - curl http://ftp.drupal.org/files/projects/drush-7.x-5.4.tar.gz | tar xzf -  
  - drush/drush make event_calendar.make drupal 
  - chmod -R a+rwX drupal 
  - sudo apt-get -y install libapache2-mod-php5 php5-curl php5-gd php5-mysql libgd2-xpm
  - sudo a2enmod rewrite php5
  - sed -e "s,PATH,`pwd`/drupal,g" default | sudo tee /etc/apache2/sites-available/default > /dev/null
  - sudo service apache2 restart
  - cd bdd
  - mysql -u root -e 'create database mydb;'
  - mysql -u root -e 'grant all on mydb.* to mydb;'

script: php behat.phar 
