language: php
php:
  - 5.3

mysql:
  database: mydb
  username: mydb
  encoding: utf8

before_script:
  - curl http://ftp.drupal.org/files/projects/drush-7.x-5.4.tar.gz | tar xzf -  
  - drush/drush make event_calendar.make web 
  - sudo apt-get install apache2
  - sudo a2enmod actions
  - sudo cp default /etc/apache2/sites-available/default
  - sudo service apache2 restart
  - cd bdd

#script: bin/behat
