language: php
php:
  - 5.3
mysql:
  database: mydb
  username: mydb
  encoding: utf8

before_script: 
  - cd bdd
  - pear channel-discover pear.drush.org
  - sudo pear install drush/drush
  - drush make event_calendar.make drupal

script: php behat.phar 
